.row{
  text-align:center;
  
}
#choices{
  display:flex;
  justify-content:space-between;
  
}
html{
  background-image: linear-gradient(#FFB6C1, #D3D3D3);
}
h1{
  font-family: 'Lobster', cursive;
}
.lob{
  font-family: 'Lobster Two', cursive;
  font-size: 25px;
}
.rez{
  font-family: 'Oleo Script', cursive;
}
#lob1{
  font-family: 'Lobster', cursive;
}
button{
  border-radius: 25px;
  color:white;
  background-color: black;
}
input{
  height: 35px;
  width: 400px;

}